@charset "UTF-8";

body {
    background-image: url(../assets/img/papel1.jpg);    
    background-position-y: center;
    background-position-x: center;
    overflow: hidden;  
}

header {
    display: flex;
    justify-content: space-between;   /* coloca nas extremidades */
    background-color: #918EF4;
    border-bottom: 10px solid black;   /* borda inferior */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    
}

nav {
    text-align: right;   /* centraliza as tags no meio */
    
}

a    {
    display: inline-flex;   /* colocar um do lado do outro*/
    align-items: center;   /* centralizar na vertical */
    font-family: 'Fira Code', Arial, Helvetica, sans-serif; 
    font-weight: 500;   /* bold - peso da fonte */
    text-decoration: none;   /* tirar sublinhado */ 
    margin-right: 30px;   /* espaçamento entre palavras(cada <a>) - respiro externo */
    margin-bottom: 10px;  /* espaçamento entre palavras(cada <a>) - respiro externo */ 
    transition: transform 100ms linear; 
}

#img {
    width: 60px;
    height: 60px;  
}

.menu:hover {
    transform: scale(1.03);
}
