@charset "UTF-8";

body {
    background-image: url(../assets/img/papel1.jpg);    
    background-position-y: center;
    background-position-x: center;
    overflow: hidden;  
}

header {
    display: flex;
    justify-content: space-between;   /* coloca nas extremidades */
    background-color: #918EF4;
    border-bottom: 10px solid black;   /* borda inferior */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

nav {
    text-align: right;   /* centraliza as tags no meio */
}

a    {
    display: inline-flex;   /* colocar um do lado do outro*/
    align-items: center;   /* centralizar na vertical */
    font-family: 'Fira Code', Arial, Helvetica, sans-serif; 
    color: #201F36;
    font-size: 20px;
    font-weight: 500;   /* bold - peso da fonte */
    text-decoration: none;   /* tirar sublinhado */ 
    margin-right: 30px;   /* espaçamento entre palavras(cada <a>) - respiro externo */
    margin-bottom: 10px;  /* espaçamento entre palavras(cada <a>) - respiro externo */ 
    transition: transform 100ms linear; 
    color: white;
}

.menu::before {  /* pseudo elemento - before/after - usar antes ou depois da tag. quadrado. */
    content: "";  
    background-color: #82F5B2;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    background-color: #82F5B2;
    display: inline-block;   /* permite mexer na altura e largura  */
    padding: 20px;   /* "enchimento" - bordas internas */   
    box-shadow: 5px 5px 0 black;   /* direita (x), baixo (y), blur e cor */
    margin-right: 0;    /* tira a margem apenas do botão */
    margin-bottom: 0;   /* tira a margem apenas do botão */
    transition: transform 100ms linear;
    color: #201F36;
}

#img {
    width: 60px;
    height: 60px;  
}

#button:hover, .menu:hover {
    transform: scale(1.03);
}

section {
    background-color: #465162;
    display: block;
    margin-left: 95px;
    margin-top: 108px;
    margin-right: 727px;
    margin-bottom: 501px;
    border: 1px solid #465162;
    text-align: center;
    justify-content: center;
    padding: auto;
    box-shadow: 10px 10px 0 black;
    width: 627px;   
    height: 184px;
}