html {
    /* a cada 1rem será considerado 10 pixels */
    font-size: 62.5%;
}

body {
    width: 100%;
}

/* media queries */  

@media only screen and (max-width: 1199.98px) {
    html {
        font-size: 50%;
    }

    /*
    MAIN TITLE
    */

    h2.main-title.-second {
        font-size: 5rem;
    }

    /*
    BANNER SECTION
    */

    section.banner-section {
        padding-top: 16rem;
        background-position-x: 60%;
        height: 92.5vh;
    }

    /*
    MAIN SKILL
    */

    section.main-skill div.wrapper-skill {
        width: 108rem;
        margin-top: 15rem;
        margin-bottom: 15rem;
    }

    section.main-skill p.text-skill {
        font-size: 4rem;
    }

    /*
    MAIN PROJECT
    */

    section.main-project div.wrapper-projects {
        margin-top: 10rem;
    }

    section.main-project div.project-text {
        font-size: 3.3rem;
        line-height: 12rem;
        margin-top: 14rem;
    }

    /*
    MAIN ABOUT
    */

    section.main-about {
        height: 100vh;
    }

    section.main-about .main-carousel::after {
        top:14rem;
    }

    section.main-about div.elements {
        margin-top: 4.2rem;
    }

    section.main-about .button-arrow {
        margin-top: 1.2rem;
        top: 215px;
    }
    
    section.main-about p.about-text {
        font-size: 4rem;
        text-align: justify;
        margin-top: 13rem;
    }

    /*
    MAIN FORM
    */

    form.main-form {
        height: 86.5vh;
    }

    form.main-form .main-input {
        font-size: 2.6rem;
        margin-bottom: 3.5rem;
    }

    form.main-form .main-title {
        margin-bottom: 12rem;
    }

    form.main-form .main-button {
        margin-top: 4rem;
    }

}

@media only screen and (max-width: 991.98px) {
    html {
        font-size: 45%;  
    }

    /*
    BANNER SECTION
    */
    
    section.banner-section  {
        background-position-y: bottom;
    }

    section.banner-section div.wrapper {
        width: 60vw;
    }

    section.banner-section .main-box {
        padding: 4.2rem 3.4rem;
    }
    
    
    /*
    MAIN SKILL
    */

    section.main-skill div.wrapper-skill {
        width: 110rem;
    }

    /*
    MAIN ABOUT
    */

    section.main-about div.elements {
        margin-top: 4.2rem;
    }

    /*
    MAIN FORM
    */

    form.main-form .main-title {
        margin-top: 6rem;
        margin-bottom: 12rem;
    }

    form.main-form .main-button {
        font-size: 5rem;
    }

    form.main-form {
        height: 91vh;   
    }

    input.main-input {
        height: 10rem;
    }

    textarea.main-input.-textArea {
        height: 40rem;
    }
   
}

@media only screen and (max-width: 799.98px) {

    html {
        font-size: 45%;  
    }

    /*
    MAIN BANNER
    */

    section.banner-section div.wrapper {
        width: 61rem;
    }

    /*
    MAIN SKILL 
    */

    section.main-skill div.wrapper-skill {
        display: flex;
        flex-direction: column;
        width: 48.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8rem;
        margin-bottom: 4rem;
    }

}

@media only screen and (max-width: 679.98px) {

    /*
    MAIN HEADER
    */ 

    header.main-header .main-button {
        display: none;
        visibility: hidden;
    }

    header.main-header {
        display: flex;
        justify-content: space-between;
    }

    header.main-header nav.navigation {
        height: 2.2rem;
        
    }

    header.main-header a.main-action {
        font-size: 2.5rem;
    }

    /*
    MAIN SKILL
    */

    section.main-skill p.text-skill {
        font-size: 3.5rem;
    }

    /*
    MAIN PROJECTS 
    */ 

    section.main-project div.wrapper-projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
    }

    figure.figure {
        margin-bottom: 2rem;
    }

    section.main-project div.project-text {
        font-size: 3rem;
        line-height: 6rem;
        margin-top: 5rem;
    }

    /*
    MAIN ABOUT 
    */

    section.main-about p.about-text {
        margin-top: 24rem;
    }

    .main-carousel {
        display: none;
        visibility: visible;
    }

    button.button-arrow {
        display: none;
        visibility: visible;
    }

}

@media only screen and (max-width: 600px) {

    html {
        font-size: 50%;
    }

    /*
    MAIN HEADER
    */
    header.main-header {  
        width: 100%; 
        height: 10vh;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    header.main-header nav.navigation {
        display: flex;     
        width: 100%;
        height: 90%;
        justify-content: center;
    }   

    header.main-header nav.navigation a {
        margin: 0;
        padding: 0.1rem 1.2rem;
        font-size: 1.8rem;
        
    }

    header.main-header img{
        display: none;
        visibility: hidden;
    }

    /*
    BANNER SECTION
    */
    section.banner-section {
        background-image: url(../img/home-mobile-3.png);
        height: 84vh;
        padding-top: 3rem;
        padding-left: 1rem;
        background-size: 120%;
        background-repeat: no-repeat;
        background-position-y: 90%;
        background-position-x: 75%;
    }

    section.banner-section .main-box {
        padding: 2.2rem 2.4rem;
        width: 45vh;
        margin-bottom: 3rem;
    }


    section.banner-section div.wrapper {
        width: 51.5vh;
        margin-left: auto;
        margin-right: auto;
    }

    section.banner-section h1 {
        font-size: 2.5rem;
    }

    section.banner-section h2 {
        font-size: 2rem;
    }

    section.banner-section .main-button {
        font-size: 1.2rem;
    }

    /*
    MAIN ABOUT
    */

    section.main-about p.about-text {
        margin-top: 10rem;
        font-size: 2.2rem;
        text-align: left;
    }
}
