html {
    /* a cada 1rem será considerado 10 pixels */
    font-size: 62.5%;
}

body {
    width: 100%;
}

/* media queries */  
@media (max-width: 768px) {
    html {
        font-size: 45%;  
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 45%;
    }

    /*
    BANNER SECTION
    */

    section.banner-section {
        padding-top: 16rem;
        background-position-x: -32rem;
        height: 90.5vh;
    }

    /*
    MAIN SKILL
    */

    section.main-skill div.wrapper-skill {
        width: 108rem;
        margin-top: 12rem;
        margin-bottom: 10rem;
    }

    section.main-skill p.text-skill {
        font-size: 4rem;
    }

    /*
    MAIN PROJECT
    */

    section.main-project div.wrapper-projects {
        margin-top: 10rem;
    }

    section.main-project div.project-text {
        font-size: 3.3rem;
        line-height: 12rem;
        margin-top: 14rem;
    }

    /*
    MAIN ABOUT
    */

    section.main-about {
        height: 100vh;
    }

    section.main-about .main-carousel::after {
        top:14rem;
    }

    section.main-about div.elements {
        margin-top: 1.2rem;
    }

    section.main-about .button-arrow {
        margin-top: 1.2rem;
        top: 215px;
    }
    
    section.main-about p.about-text {
        font-size: 4rem;
        text-align: justify;
        margin-top: 13rem;
    }

    /*
    MAIN FORM
    */

    form.main-form {
        height: 86.5vh;
    }

    form.main-form .main-input {
        font-size: 2.6rem;
        margin-bottom: 3.5rem;
    }

    form.main-form .main-title {
        padding-bottom: 6.0rem;
        margin-bottom: 5.5rem;
    }

    form.main-form .main-button {
        margin-top: 4rem;
    }

}