.banner-section {
    background-image: url(/img/home.jpg);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid black;
    height: 90vh;
    width: 100%;
    box-sizing: border-box;
    padding-left: 6.0rem;
    padding-top: 10.0rem;
}

.banner-section .wrapper {
    display: flex;
    flex-direction: column;
    width: 47vw;
}

.banner-section .main-box {
    margin-bottom: 4.0rem;
}

.banner-section .navigation {
    display: flex;
    justify-content: space-around;
}