.box {
    background-color: #465162;
    display: inline-block;
    box-shadow: 10px 10px 0 black;
    text-align: center;
    padding: 42px 44px;
}

.box .title {  /* espaço - pegar todos os filhos h1 dentro de box */
    margin-bottom: 28px;
}

