#button-scroll {  
    position: fixed;
    bottom: 1.6rem;
    right: 1.6rem;
    width: 5.0rem;
    height: 5.0rem;
    background-color: #918EF4;
    box-shadow: 5px 5px 0px black;
    border: 2px solid white;
    cursor: pointer;
    transition: transform 100ms linear;
} 

#button-scroll:hover {
    transform: scale(1.02);
}