.confirmation-box {
    background-color: #465162;
    display: inline-block;
    box-shadow: 0.62rem 0.62rem 0 black;
    text-align: center;
    padding-bottom: 1.25rem;
    padding-top: 2.62rem;
    width: 45.93rem;
}

.confirmation-box .main-title {
    color: white;
    margin-bottom: 3.125rem;
}