.contact-box {
    display: flex;
    flex-direction: column;
    background-color: #465162;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    text-align: justify;
    align-items: center;
    color: #82F5B2;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    width: 45.93rem;
    box-shadow: 0.62rem 0.62rem 0px black;
}

.contact-box .main-button {
    margin-top: 5px;
    width: 12.5rem;
}

.contact-box .media {
    width: 2.18rem;
    height: 2.18rem;
    padding-right: 0.93rem;
}

.contact-box .list {
    display: flex;
    align-items: center;
    margin-bottom: 0.62rem;
}

.contact-box .link {
    color: #82F5B2;
    margin-left: 0.62rem;
    text-decoration: none;
}

.contact-box .contact {
    margin-right: 0.62rem;
    color: #918EF4;
    font-weight: 500;
}