.main-footer {
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;  
}

.main-footer .logo.-footer {
    width: 35px;
    height: 35px;
}

.main-footer .social {
    display: flex;
    width: 100px;
    height: 35px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}