.main-box {
    background-color: #465162;
    display: inline-block;
    box-shadow: 1.0rem 1.0rem 0 black;
    text-align: center;
    padding: 4.2rem 4.4rem;
    width: 39.3vw;
}

.main-box .main-title {
    margin-bottom: 2.8rem;
}

