.main-project {
    height: 93vh;
    background-color: black;
    border-bottom: 1.0rem solid #82F5B2;
    padding-top: 5.0rem;
    width: 100%;
}

.main-project .main-title { 
    color: white;
}

.main-project .card {
    box-shadow: 1.0rem 1.0rem white;
    transition: transform 100ms linear;
    margin-bottom: 1.5rem;
    width: 28rem;
    height: 28rem;
    background-color: #465162;
}

.card:hover {
    transform: scale(1.03);
}


.main-project .caption {
    color: white;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    font-size: 2.0rem;
    text-align: center;
}

.main-project .project {
    color: #82F5B2;
    font-weight: 400;
}