.main-footer {
    height: 7rem;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;  
}

.main-footer .logo.-footer {
    width: 3.8rem;
    height: 3.8rem;
}

.main-footer .social {
    display: flex;
    width: 10rem;
    height: 3.8rem;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}
