.main-input {
    border: 5px solid black;
    width: 100%;
    height: 5.0rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 1.5rem;
    font: 1.6rem 'Fira Code', Arial, Helvetica, sans-serif;
}

.main-input.-textArea {
    height: 30.0rem;
}
