.main-button {
    background-color: #82F5B2;
    display: inline-block;
    padding: 2.0rem;
    box-shadow: 5px 5px 0 black;
    margin-right: 0;
    margin-bottom: 0;
    transition: transform 100ms linear;
    color: #201F36;
    font-size: 2.0rem;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    outline: none;
}

.main-button:hover {
    transform: scale(1.02);
}

.main-button.-second {
    width: 100%;
    box-sizing: border-box;
    font-size: 3.0rem;
    font-weight: 400;
    padding: 0.62rem;
}

.main-button.-second:hover {
    transform: scale(1.015);
}