.main-header {
    display: flex;
    justify-content: space-between;
    background-color: #918EF4;
    border-bottom: 10px solid black;
    width: 100%;
    padding-left: 2.0rem;
    padding-right: 2.0rem;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
    height: 10vh;
    align-items: center; 
    box-sizing: border-box;
}