.main-button {
    background-color: #82F5B2;
    display: inline-block;
    padding: 20px;
    box-shadow: 5px 5px 0 black;
    margin-right: 0;
    margin-bottom: 0;
    transition: transform 100ms linear;
    color: #201F36;
    font-size: 20px;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    outline: none;
}

.main-button:hover {
    transform: scale(1.02);
}

.main-button.-second {
    width: 100%;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: 300;
    padding: 10px;
}

.main-button.-second:hover {
    transform: scale(1.015);
}