.main-confirmation {
    background-image: url(/img/logo_fundo.png);
    background-color: #918EF4; 
    height: 100vh;
    position: relative; 
}

.confirmation-box {
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-box {
    margin-bottom: 40px;
}

.main-button {
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    outline: none;
    width: 200px;
    border: none;
}

.main-box .main-title {
    color: white;
}
