.node-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.node-card::before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    height: 0rem;
    width: 4.0rem;
    border-top: 0.4rem dashed black;
    transform: rotate(90deg) translateX(5.5rem);
}

.node-card .title {
    font-family: 'Press Start 2P', sans-serif;
    color: #82F5B2;
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 5.0rem;
}

.node-card .logo {
    display: flex;
    align-items: center;
    height: 14.0rem;
    padding-left: 2.0rem;
    padding-right: 2.0rem;
    background-color: #465162;
    border: 0.5rem solid black;
    box-sizing: border-box;
}

.node-card.-clean .logo {
    padding: 0;
    border: none;
}

.node-card.-first .logo {
    background-color: #F25A70;
}


.node-card img {
    width: 10rem;
    height: 10rem;
}