.node-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.node-card::before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    height: 0px;
    width: 40px;
    border-top: 4px dashed black;
    transform: rotate(90deg) translateX(55px);
}

.node-card .title {
    font-family: 'Press Start 2P', sans-serif;
    color: #82F5B2;
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.node-card .logo {
    display: flex;
    align-items: center;
    height: 140px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #465162;
    border: 5px solid black;
    box-sizing: border-box;
}

.node-card.-clean .logo {
    padding: 0;
    border: none;
}

.node-card.-first .logo {
    background-color: #F25A70;
}