.project-text {
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    color: #8296b4;
    font-size: 3.0rem;
    font-weight: 400;
    margin-top: 8.0rem;
    margin-left: 12.5rem;
    line-height: 5.0rem;
    
}