.text-skill {
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: justify;
    margin-left: 80px;
    margin-right: 80px;
    max-width: 1200px;   
}

.text-skill .bold {
    font-weight: 500;
}