@charset "UTF-8";

h1 {
    color: #82F5B2;
    font-size: 40px;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 4px 4px 0 black;
}

h2 { 
    color: white;
    font-size: 30px;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 4px 4px 0 black;
}